.favourite-btn {
	display: flex;
	justify-content: space-between;
	width: 122px;
	// position: fixed;
	// top: 20px;
	// right: 20px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: 500;

	.favourite-btn__icon-group {
		width: 28px;
		height: 28px;
		background: #333;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: transform 0.5s;
		z-index: 10;

		&--transformed {
			transform: rotate(180deg);
			.favourite-btn__icon-stick--1 {
				transform: translateY(3px) rotate(45deg);
			}

			.favourite-btn__icon-stick--2 {
				transform: translateY(-3px) rotate(-45deg);
			}
		}

		.favourite-btn__icon-stick {
			width: 14px;
			height: 2px;
			border-radius: 2px;
			background: #fff;
			transition: transform 0.5s;
			transform-origin: center;

			&--1 {
				margin-bottom: 2px;
			}

			&--2 {
				margin-top: 2px;
			}
		}
	}

	.favourite-btn__text {
		font-size: 20px;
		line-height: 28px;
		color: #ababab;
		z-index: 10;
	}
}
