.favorite-section {
	z-index: 9;
	position: fixed;
	background: #f8f8f8;
	min-height: 100vh;
	width: 100vw;
	transition: 0.5s;
	padding: 20px 20px 20px 20px;
	transform: translateX(100vw);
	top: 0;
	bottom: 0;
	overflow-y: scroll;
	left: 0;
	display: flex;
	flex-direction: column;

	&--visible {
		transform: translateX(0px);
	}

	.jokes {
		.joke {
			background: #fff;
		}
	}
}

@media (min-width: 551px) and (max-width: 1439px) {
	.favorite-section {
		z-index: 9;
		position: fixed;
		background: #f8f8f8;
		min-height: 100vh;
		width: 480px;
		transition: 0.5s;
		padding: 20px 20px 20px 20px;
		transform: translateX(100vw);
		top: 0;
		bottom: 0;
		overflow-y: scroll;
		right: 0;
		left: unset;

		&--visible {
			transform: translateX(0px);
		}

		.jokes {
			.joke {
				background: #fff;
			}
		}
	}
}

@media (min-width: 1440px) {
	.favorite-section {
		z-index: 9;
		position: fixed;
		background: #f8f8f8;
		min-height: 100vh;
		width: 480px;
		transition: 0.5s;
		padding: 20px 20px 20px 20px;
		transform: translateX(0px);
		top: 0;
		bottom: 0;
		overflow-y: scroll;
		right: 0;
		left: unset;

		&--visible {
			transform: translateX(0px);
		}

		.jokes {
			.joke {
				background: #fff;
			}
		}
	}
}
