.jokeFinder__categories {
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0px;
	font-weight: 500;

	.jokeFinder__category {
		height: 28px;
		border: 2px solid #f8f8f8;
		border-radius: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 6px 12px;
		margin: 10px 10px 0px 0px;
		cursor: pointer;

		&--checked {
			background: #f8f8f8;

			span {
				font-size: 12px;
				line-height: 16px;
				letter-spacing: 2px;
				text-transform: uppercase;
				color: #333333;
			}
		}

		&:hover {
			background: #f8f8f8;
		}
	}

	input {
		position: absolute;
		opacity: 0;
		height: 0;
		width: 0;
	}

	span {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #ababab;
	}
}
