.jokeFinder {
	margin-top: 78px;

	h1 {
		font-weight: bold;
		font-size: 32px;
		line-height: 44px;
	}

	h2 {
		font-weight: 500;
		font-size: 24px;
		line-height: 44px;
	}

	.jokeFinder__form {
		margin-top: 43px;
		display: flex;
		flex-direction: column;

		* {
			transition: border 0.7s, background 0.7s;
		}

		&-group {
			margin-top: 10px;
			cursor: pointer;
			display: flex;

			&:hover {
				.jokeFinder__custom-btn > div {
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background: #ababab;
				}

				.jokeFinder__custom-btn--checked > div {
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background: #333;
				}
			}

			.jokeFinder__custom-btn {
				width: 20px;
				height: 20px;
				border: 2px solid #ababab;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;

				&--checked {
					border: 2px solid #333333;
					& > div {
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background: #333;
					}
				}
			}

			input {
				position: absolute;
				opacity: 0;
				height: 0;
				width: 0;
			}

			span {
				margin-left: 15px;
				font-size: 18px;
				line-height: 26px;
			}
		}
	}

	.jokeFinder__submit-btn {
		background: linear-gradient(92.01deg, #8ea7ff 0%, #7291ff 100%);
		border-radius: 10px;
		border: none;
		width: 152px;
		height: 42px;
		color: #fff;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		margin-top: 20px;
		outline: none;
		cursor: pointer;

		&:hover {
			background: linear-gradient(92.01deg, #6486ff 0%, #466eff 100%);
		}

		&:active {
			background: linear-gradient(92.01deg, #4a71ff 0%, #1b4cff 100%);
		}
	}
}
