.jokes {
	padding: 40px 0px;

	.joke {
		padding: 47px 20px 20px 80px;
		background: #f8f8f8;
		border-radius: 20px;
		width: 340px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		position: relative;

		.heart {
			position: absolute;
			top: 20px;
			right: 20px;
			cursor: pointer;
			transition: transform 0.3s;

			&--blank {
				z-index: 3;
				opacity: 0;
			}

			&--filled {
				z-index: 4;
				transform: scale(0);
			}
		}

		.heart--blank.heart--active {
			opacity: 1;
		}

		.heart--filled.heart--active {
			transform: scale(1);
		}

		.message {
			position: absolute;
			top: 47px;
			left: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #fff;
			border-radius: 50%;
			width: 40px;
			height: 40px;
		}

		&__id {
			font-weight: 500;
			font-size: 10px;
			line-height: 14px;

			span {
				color: #ababab;
				text-transform: uppercase;
			}

			a {
				color: #8ea7ff;

				&:hover {
					color: #6486ff;
				}

				&:active {
					color: #1b4cff;
				}
			}

			.link {
				width: 10px;
				height: 10px;
				margin: 0px 0px 0px 5px;
			}
		}

		&__value {
			padding: 5px 0px 28px 0px;
			font-size: 18px;
			line-height: 26px;
		}

		&__last-update {
			font-weight: normal;
			font-size: 10px;
			line-height: 14px;

			span {
				color: #ababab;
			}

			& span:last-of-type {
				font-weight: 500;
			}
		}

		&__category {
			height: 24px;
			background: #ffffff;
			color: #333333;
			border-radius: 6px;
			font-weight: 500;
			font-size: 10px;
			line-height: 14px;
			letter-spacing: 2px;
			text-transform: uppercase;
			width: max-content;
			padding: 6px 20px;
			margin-top: 10px;
		}
	}
}
