* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	color: #333;
}

.app {
	position: relative;
	padding: 20px;
	min-height: 100vh;

	& > * {
		z-index: 2;
	}

	.main-section {
		max-width: 680px;
		height: 100vh;
		overflow: hidden;

		&--visible {
			height: 100%;
			overflow: visible;
		}
	}
}

@media (min-width: 551px) and (max-width: 1439px) {
	.app {
		position: relative;
		padding: 40px;
		min-height: 100vh;
		z-index: 1;

		.main-section {
			max-width: 680px;
			height: 100%;
			overflow: visible;

			&::after {
				content: '';
				height: 100vh;
				width: 100vw;
				position: fixed;
				top: 0px;
				bottom: 0px;
				left: 0px;
				z-index: 6;
				display: block;
				transition: background-color 1s linear;
				background-color: rgba(0, 0, 0, 0.3);
				translate: transformY(0px);
			}

			&--visible {
				height: 100%;
				overflow: visible;

				&::after {
					content: '';
					height: 100vh;
					width: 100vw;
					position: fixed;
					top: 0px;
					bottom: 0px;
					left: 0px;
					z-index: 0;
					transition: background-color 1s linear;
					background: rgba(0, 0, 0, 0);
					// visibility: hidden;
					display: block;
					transform: translateY(100vh);
				}
			}
		}
	}
}

@media (min-width: 1440px) {
	.app {
		padding: 40px 140px;
	}
}
