* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	color: #333;
}

.app {
	position: relative;
	padding-bottom: 20px;
	min-height: 100vh;

	.main-section {
		padding: 0px 20px;
	}
}
